<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>hi  home sheet</h1>
    <p>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>reg no</th>
            </tr>
            {% for i in data %}
            <tr>
                <td> {{ i.name }}</td>
                <td> {{ i.regno }} </td>
            </tr>
            
            {% endfor %}
        </table>

    </p>
</body>
</html>